.header-title {
    color:  rgba(146, 170, 170, 1);
    font-weight: bold;   
    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-image: linear-gradient(to right, rgba(114, 200, 158, 0.3), rgba(114, 200, 158, 1));
}

.header-btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 5px;
}
